html, body, div, span, applet, object, iframe,
h1,h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
        display: block;
}
body {
        line-height: 1;
}
ol, ul {
        list-style: none;
}
blockquote, q {
        quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
        content: '';
        content: none;
}
table {
    border-collapse: collapse;
        border-spacing: 0;
}
/*------------------------------------------------RESET CSS- -------------------------------------------*/

@font-face{  /*declarar la fuente que descargue*/
    font-family: 'creemeWE';
    src: url(../FONT/lemon_brush/Lemon\ Brush\ -\ Personal\ Use.otf);       
}

body{
    font-family: 'creemeWE';
    background-image: url(../IMAGES/matrix.gif);
}
header{
    margin: auto;
    min-width: 980px;
    width: 60%;
    height: 300px;
    background: linear-gradient(155deg, rgb(217, 179, 179) 60%, #685151 60%);
}
.main{
    margin: auto;
    display: flex;
    width: 80%;
    height: 70%;
    /*border: solid 5px blue;*/
}
.cara{
    margin-left: 10%;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-image: url(../IMAGES/perfil.jpg);
}

.texto{
    text-align: center;
    font-size: 40px;
    margin-top: 1%;
    margin-left: 6%;
    width: 60%;
    height: 100px;
    color: white;
    text-shadow: 1px 1px black;
    /*border: solid 1px red;*/
}
.rmr{
    margin-left: 10%;
    width: 33%;
    height: 50px;
    /*border: solid 1px greenyellow;*/
    font-size: 63px;
    text-align: center;
    text-shadow: 2px 1px white;
}
.inicial{
    margin:0;
}
.leng{
    display: flex;
    margin: auto;
    min-width: 980px;
    width: 60%;
    height: 374px;
    background-color: #bde1dd;
    /*border: solid 1px blue;*/
}

.uno{
    width: 30%;
    height: 100%;
    background-color: white;
    /*border: solid 2px aqua;*/
}
.text{
    margin: 0;
    width: 100%;
    height: 10%;
}
.manos{
    width: 100%;
    height: 90%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../IMAGES/señalar.jpg);
}
.dos{
    display: flex;
    width: 70%;
    height: 100%;
    /*border: solid 1px brown;*/
}

.caja{
    margin: auto;
    width: 26%;
    height: 95%;
    border-radius: 85px;
    background-color: rgba(245, 245, 245, 0.685); 

}

p{
    width: 90%;
    height: auto;
    margin-top: 8%;
    text-align: center;

}
.c, .python, .java {
    margin-left: 19%;
    width: 60%;
    height: 30%;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
    margin-top: 10%;
}

.c{
    background-image: url(../IMAGES/ICON/c.png);
    
}

.python{
    
    background-image: url(../IMAGES/ICON/python.png);
}

.java{
    background-image: url(../IMAGES/ICON/java.png);
    background-color: whitesmoke;
}

footer{
    display: flex;
    margin: auto;
    min-width: 980px;
    width: 60%;
    height: 75px;
    background: linear-gradient(155deg, rgb(217, 179, 179) 60%, #685151 60%);

}

.face, .whats, .inst{
    margin: auto;
    width: 5%;
    height: 67%;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
}
.final{
    width: 63%;
    height: 100%;
}
.face{
    background-image: url(../IMAGES/ICON/facebook.png);
}
.whats{
    background-image: url(../IMAGES/ICON/whatsapp.png);
}
.inst{
    background-image: url(../IMAGES/ICON/instagram.png);
}