html, body, div, span, applet, object, iframe,
h1,h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
    border-collapse: collapse;
	border-spacing: 0;
}
/*------------------------------------------------RESET CSS- -------------------------------------------*/

section{
    margin: auto;
    width: 70%;
    height: 400px;
    background-color: aqua;
}
.lenguajes{
    margin: auto;
    display: flex;
    width: 70%;
    height: 300px;
    margin: auto;
    /*background-color: rgb(36, 28, 44);*/
    background-image: url(../IMAGE/fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}


.imagen{
    width:22%;
    height: 300px;
    background-color: rgb(122, 42, 42);
    position: absolute; /* para que se referencie con respecto al body*/
}
.container1{
    height: 380px;
    transition-property: width;
    transition-duration: 1s;
    transition-timing-function: ease-in-out ; /*efecto desplegue*/
    width:24%;

}
.c, .python, .java {
    margin-left: 14%;
    width: 72%;
    height: 42%;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
    margin-top: 10%;
}

.c{
    background-image: url(../IMAGE/ICON/c.png);
    background-color: aqua;
}

.python{
    
    background-image: url(../IMAGE/ICON/python.png);
}

.java{
    background-image: url(../IMAGE/ICON/java.png);
    background-color: whitesmoke;
}


.ban{
    margin: auto;
    margin-top: 10px;
    display: flex; 
    justify-content: flex-end;
    width:100%;
    height: 100%;
   /* background-color: blue;*/
}

.caja{
    border-radius: 40%;
    width: 18%;
    height: 69%;
    margin-left: 4%;
    background-color: rgba(245, 245, 245, 0.685);

}
.container1:hover{
    width: 90%; 
}
