html, body, div, span, applet, object, iframe,
h1,h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
        display: block;
}
body {
        line-height: 1;
}
ol, ul {
        list-style: none;
}
blockquote, q {
        quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
        content: '';
        content: none;
}
table {
    border-collapse: collapse;
        border-spacing: 0;
}
/*------------------------------------------------RESET CSS- -------------------------------------------*/
@font-face{  /*declarar la fuente que descargue*/
    font-family: 'creemeWE';
    src: url(../FONT/lemon_brush/Lemon\ Brush\ -\ Personal\ Use.otf);       
}

.fondo{
    min-width: 1319px;
    margin: auto;
    width: 84%;
    height: 400px;
    background-image: url(../IMAGES/eta.png);
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(217, 179, 179);
    
    /*border: solid 10px blue;*/
}

.ban{
    width: 100%;
    height: 100%;
    background: linear-gradient(155deg, rgba(217, 179, 179, 0.027) 72%, #685151 60%);
}

.nom{
    font-family: 'creemeWE';
    margin-top: 10%;
    margin-left: 2%;
    font-size: 60px;
    transform: rotate(-5deg);
    text-shadow: 1px 1px white;
}

a{
    position: relative;
    top: 6%;
    color: black;
    text-decoration: none;
    margin-left: 25%;
    font-family: 'creemeWE';
    font-size: 68px;
    text-shadow: 1px 1px white;
}

a:hover{
    font-size: 72px;
    transition: 0.5s;     
}
.letras{
    width: 35%;
    /*border: solid 5px;*/
}
.container{
    margin: auto;
    width: 79%;
    display: flex;
    height: 300px;
    /*border: solid 5px yellow;*/
}


.cara{
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background-image: url(../IMAGES/perfil.jpg);
    background-size: cover;
    background-position: center;
    margin-left: 36%;
    margin-top: 10%;
}